#presentation, #production, #contact{
    color: #fff;
    background: {
        color: #000;
        size: cover;
    }
    min-height: 90%;
    box-sizing: border-box;
}
#presentation{
    background-image: url('../img/bg-presentation.jpg');
}
#production{
    background-image: url('../img/bg-production.jpg');
}
#contact{
    background-image: url('../img/bg-contact.jpg');
}
#description{
    max-width:22rem;
    @media #{$large-screen}{
        max-width:48%;
    }
}