* {
  padding: 0;
  margin: 0;
}

body {
  background-color: yellow;
  font-family: "Fira Code";
}

h1, h2, h3, h4, h5 {
  color: #bad555;
}

nav {
  background: #55bada;
  padding: 20px;
  display: flex;
  justify-content: center;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 1.2rem;
}
nav ul li:not(:last-child) {
  margin-right: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #bad555;
  margin: 20px;
  box-shadow: 10px 10px 15px #55bada;
}
.box:hover {
  cursor: pointer;
  transform: skewY(-10deg);
}

p {
  color: green;
  margin: 20px;
  font-weight: 700;
}

.col-1 {
  width: 8.3333333333%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-1 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-2 {
  width: 16.6666666667%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-2 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-3 {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-3 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-4 {
  width: 33.3333333333%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-4 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-5 {
  width: 41.6666666667%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-5 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-6 {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-6 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-7 {
  width: 58.3333333333%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-7 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-8 {
  width: 66.6666666667%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-8 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-9 {
  width: 75%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-9 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-10 {
  width: 83.3333333333%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-10 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-11 {
  width: 91.6666666667%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-11 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.col-12 {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}
.col-12 div {
  background-color: #55bada;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

h1 {
  border: 2px solid red;
}

.text-red {
  color: red;
}

.text-yellow {
  color: yellow;
}

.text-green {
  color: green;
}

.text-thin {
  font-weight: 200;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */